table {
    margin: auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tdh:hover {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: gray;
}

th {
    background-color: #ddd;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}